.container-fluid{
    padding: 0;
}
[class^="col-"]{
    padding: 0;
}
.col-xs-4{
    flex: 33.333333333%;
    max-width: 33.33333333333%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.col-xs-3{
    flex: 25%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-left: 0.1rem!important;
    padding-right: 0.1rem!important;
}
.col-xs-12{
    width: 100%;
}
.row{
    margin: 0;
}
.img-responsive{
    width:100%;
}
header{
    background: #092C4C;
}
.navbar-brand{
    margin-left: 5rem;
}
.navbar-brand img{
    height: 40px;
}
nav{
    background: #092C4C;
    border-bottom-color: #FFFFFF;
}
ul{
    margin: 0 auto;
    margin-right: 3rem!important;
}
.nav-item{
    padding-right: 2rem;
}
.nav-link{
    color:#FFFFFF!important;
    transition: color .5s;
}
.nav-link:hover, .nav-link:active, .active .nav-link{
    color: #FFA654!important;
}
.nav-link img{
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-toggler{
    color: #FFFFFF!important;
    border-color: #FFFFFF!important;
    background-color: #FFFFFF!important;
}
hr.navend{
    border:none;
    border-bottom-style:solid ;
    border-bottom-width:1px;
    border-bottom-color: #FFFFFF;
    padding: 0;
    margin: 0;;
}
.services-sec{
    margin-left: 3rem;
    margin-right: 3rem;
    box-shadow: 2px 8.5px 12.2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 5rem;

}
.mobile-viewall{
    display: none;
}
.services-sec .card{
    transition: .3s ease-in-out;
}
.services-sec .card:hover{
    transform: scale(1.1);
}
.det-cont{
    padding-left: 5rem;
    padding-top: 3rem;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
line-height: 28px;
color: #FFFFFF;
}
span.det-cont-btn{
    display: block;
    
}
span.det-cont-btn a:hover{
    border: 1px solid #F2994A;
    color: #FFFFFF;
    box-shadow: inset 400px 0 0 0 #092C4C;
}
span.det-cont-btn a{
    text-decoration: none;
    background: #F2994A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: .8rem 3.5rem;
    transition: ease-in-out 0.4s;
}
.card{
    width: 18rem;
    border: none;
    height: 350px;
    font-size: 14px;
}
.card img{
    height: 50%;
}
.card-body{
    border-radius: 5px;
    box-shadow: 0 8.5px 12.2px rgba(0, 0, 0, 0.12)
}
 .carousel-inner, .prod .row{
    margin: 0 auto!important;
}
.carousel-header{
    padding-left: 1rem;
}
.carousel-foot{
    display: flex;
    justify-content: center;
    background: #F2994A;
    margin:0 auto;
    color: #FFFFFF;
    border-radius: 8px;
    width: 40%;
}
.carousel-foot img{
    height: 100px;
}
.car-icon{
    color: #092C4C;
    font-weight: 900;
    font-size: 1rem;
    line-height: 0!important;
}
.control-icon-next, .control-icon-prev{
    border-radius: 50%;
    border: 1px solid #092C4C;
    padding: 5px;
}
.control-icon-next{
    position: absolute;
    right: 1rem!important;
}
.control-icon-prev{
    margin-right: 1rem;
}
.par{
    background: #092C4C;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
}
.product{
    margin-top: 3rem;
}
.prod{
    background: #FFA654;
    padding-left: 3rem;
    padding-right: 3rem;
}
.prod h4{
    color: #3774DF;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    padding-top: 1rem;
}
.covid-19{
    padding: 2rem 1.5rem;
}
.covid-19-tips{
    margin-left: -12px;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 0 8.5px 12.2px rgba(0, 0, 0, 0.12)
}
.covid-19-tips h4{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 3rem;
}
.covid-19-tips p{
    padding: 0 1.5rem;
}
footer{
    background: #092C4C;
    color: #FFFFFF;
    padding-bottom: 0.4rem;
}
footer .col-md-4{
    padding:0 3rem;
    padding-top: 2rem;
}
footer .row div:nth-child(2){
    max-width: 30%!important;
    margin: auto;
    padding:0 4rem ;
}
footer span, h5{
    color: #F2994A;
}
footer hr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 96%;
}
p.foot{
    text-align: center;
}
.contact-info{
    padding:2rem 2rem;
}
.contact-info h3, .contact-info h5{
    color: #F2994A;
    text-align: center;
}
.contact-info h5{
    color: #3774DF;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}
.social li{
    list-style-type: none;
    display: inline-block;
    transition: .3s ease-in-out;
}
.social li:hover{
    transform: scale(1.2);
}
.subscribe{
    padding-top: 1rem;
}
.subscribe input[type="text"]{
    border-radius: 2px;
    border: 1px solid #BDBDBD;
    outline: none;
    padding:.6rem .4rem ;
    width: 60%;
}
.subscribe input[type="text"]:focus{
    border:1px solid #F2994A;
}
.subscribe input[type="submit"]{
    padding: .6rem 1.2rem;
    position: absolute;
    margin-left: -3px;
    outline: none;
    border: 1px solid #3774DF;
    border-radius: 5px;
    background: #3774DF;
    color: #FFFFFF;
    transition: ease-in-out 0.4s;
}
.subscribe input[type="submit"]:hover{
    color: #6e6767;
    box-shadow: inset 0 0 0 50px #F2994A
    
}



/***************************************************************************
**************************mobile responsiveness*****************************
****************************************************************************/
@media  only screen and (max-width:768px){
    .col-xs-6{
        max-width: 50%;
    }
    .det-cont{
        padding-left: 0;
        text-align: center;
        padding-top: 3px;
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 1rem;
    }
    .det-cont-img{
        height: auto;
    }
    span.det-cont-btn a{
        padding: .5rem 1rem;
    }
    .services-sec {
        padding: 0;
        margin: 0;
    }
    .services-sec .card{
        height: auto;
    }
    .services-sec .card img{
        height: auto;
    }
    .carousel-header{
        text-align: center;
    }
    .services-sec .card-body{
        padding: 10px;
        text-align: center;
    }
    .services-sec .col-xs-4:nth-child(n+5){
        display: none;
    }
    .services-sec h5{
        font-size: 1rem;
        color: black;
    }
    .services-sec .card-text{
        display: none;
    }
    .mobile-viewall{
        display: block;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-viewall a{
        text-decoration: none;
    }
    .product{
        display: none;
    }
.product-mobile{
    background: #FFB876;
    padding: 1rem 2rem;
}
.product-mobile .row{
    padding: 0.5rem 0;
    height: auto;
}
.product-mobile .card-body{
    background: #FFFFFF;
    padding-left:0.7rem ;
    padding-right:0.7rem ;
    padding-top: 1rem;
}
.product-mobile img{
    height: 100%;
}
.product-mobile h4{
    color: #3774DF;
    text-align: center;
}
.product-mobile h5{
    color: #000000;
    font-size: 1rem;
}
.product-mobile p{
    font-size: 16px;
}
.covid-19{
    padding-left: unset;
    padding-right: unset;
    font-size: unset;
    line-height: unset;
    padding-bottom: .5rem;
}
.covid-19-tips{
    padding: 0;
    padding-top: .5rem;
    margin: 0px;
}
.covid-19-tips h4{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.covid-19-tips p:last-child{
    display: none;
}
.covid-19-tips p:first-child{
    visibility: collapse;
    padding: 0px;
    margin: 0px;
}
.covid-19-tips p:first-child::after{
    position: absolute;
    top: 0px;
    left: 10px;
    bottom: 0;
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.';
    visibility: visible;
    margin: auto!important;
}
.covid-19-img{
    padding: unset;
}
.covid-19-img img{
    height: 100%;
}
.contact-info{
    padding: .5rem 0;
}
.contact-info .row .col-md-5{
    padding-left: 5px;
    padding-right: 5px;
}
.social{
    padding-right: 0px;
}
.subscribe input[type="text"]{
    width: 70%;
}
footer .row div:nth-child(2){
    max-width: 80%!important;

}
}